body {
    font-family: ubuntu, open sans, lucida sans,Verdana,Helvetica,Arial,sans-serif;
    margin: 0 auto;
    padding: 0px;
}

header{
    padding: 10px 5%;
    margin: 0px;
    background-color: firebrick;
    
}

h1{
	color: white;
    font-family: 'Sofia';
    font-size: 40px;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    transition-property: font-weight;
    transition-duration: 0s;
    transition-timing-function: linear;
    transition-delay: 0s;
}


h1:hover{
    font-weight: 800;
}


nav {
    list-style-type: none;
    margin: 0;
    padding: 12px 5%;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-align: center;
    padding: 6px 15px;
    text-decoration: none;
    border-radius: 10px 10px;
    transition-property: text-decoration;
    transition-duration: 0s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
nav a:hover{
    text-decoration: underline
}

.active {
    background-color: firebrick;
}


h2{
    font-size: 150%;
}

img{
    max-width: 80%;
}

p{
    font-size: 100%;
    color: black;
    text-align: justify;
}

div{
    border: solid 0px black;
    width: 90%;
    margin: 0 auto;
    padding: 0px;
}
footer {
    border: solid 0px black;
    width: 90%;
    padding: 0px;
    margin: 0 auto;
}
